/*
    https://naereen.github.io/world-tour-timeline/
    MIT License, by Lilian Besson (@Naereen)
    https://github.com/Naereen/world-tour-timeline/
*/


/* @import url('//fonts.googleapis.com/css?family=Ubuntu'); */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: "Ubuntu", Tahoma, sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    width: 70%;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    margin: auto;
}

#legend {
    position: relative;
    font-size: 2.3em;
    top: 53vh;
}

#comment {
    font-size: 1.8em;
    position: absolute;
    text-align: center;
    top: 1vh;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    width: 70%;
}

#thanks {
    font-size: 1.2em;
    font-style: italic;
    position: absolute;
    bottom: 1vh;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    width: 70%;
}

#list {
    font-size: 1.0em;
    position: absolute;
    float: left;
    margin-top: 20vh;
    margin-left: -10vh;
}

.arrow {
    position: relative;
    bottom: 37vh;
    font-size: 6em;
    text-decoration: none;
    vertical-align: bottom;
}

#previous {
    left: -200px;
}

#transition {
    right: -200px;
}